<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- HTML Meta Tags -->
        <title>Login | My GitHub Profile</title>
        <meta name="description" content="A website which provides a ton of information about your GitHub account.">

        <!-- Google / Search Engine Tags -->
        <meta itemprop="name" content="My GitHub Profile">
        <meta itemprop="description" content="A website which provides a ton of information about your GitHub account.">
        <meta itemprop="image" content="https://avatars.githubusercontent.com/u/9919">

        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="https://mgp.hrsn.dev">
        <meta property="og:type" content="website">
        <meta property="og:title" content="My GitHub Profile">
        <meta property="og:description" content="A website which provides a ton of information about your GitHub account.">
        <meta property="og:image" content="https://avatars.githubusercontent.com/u/9919">

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="My GitHub Profile">
        <meta name="twitter:description" content="A website which provides a ton of information about your GitHub account.">
        <meta name="twitter:image" content="https://avatars.githubusercontent.com/u/9919">

        <!-- Favicon -->
        <link rel="shortcut icon" href="https://github.com/favicon.ico">

        <!-- Stylesheets -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

        <!-- Scripts -->
        <script src="https://cdn.tailwindcss.com"></script>
    </head>

    <body class="p-8 bg-zinc-900 text-white text-center">
        <a href="/api/auth"><button class="bg-[#333333] hover:bg-[#444444] px-4 py-2 rounded-md"><i class="fa-brands fa-github mr-2"></i>Sign in with GitHub</button></a>

        <footer class="mt-8">
            <p>&copy; <script>document.write(new Date().getFullYear())</script> <span class="font-semibold">William Harrison</span> - All Rights Reserved.</p>
        </footer>
    </body>
</html>
